<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" />
</head>
<body>
	<div th:fragment = "search" class = "container">
		<form class = "cardLogin" action="/search/osm" method="post">
			<h1 class = "scritteCard">Cerca su OSM...</h1>
			<br/>
			<input class = "input" type="text" name="tag" placeholder="Stadio comunale, Milano,...">
			<br/>
			<button type="submit" class = "bottoniForm">
				<p class = "scritteBottoniForm">CERCA</p>
			</button>
		</form>
		<form class = "cardLogin" action="/search/site" method="post">
			<h1 class = "scritteCard">Cerca nel sito...</h1>
			<br/>
			<input class = "input" type="text" name="tag" placeholder="Stadio comunale, Milano,...">
			<br/>
			<button type="submit" class = "bottoniForm">
				<p class = "scritteBottoniForm">CERCA</p>
			</button>
		</form>
	</div>
</body>
</html>