<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" />
</head>
<body>
	<header th:fragment = "header">
		<div class="headerAdattivo">
			<div th:onclick = "location.href = '/'" class = "bottoneHeader" >
				<h1 class = "scrittaBottoneHeader" th:text = "'Benvenuto ' + ${username} + '!'"></h1>
				<button th:unless = "${isTourist}" class = "iconaNotifiche">
				<h1 class = "scritteBottoniMenu" th:text = ${numberOfNotifications}></h1>
				</button>
			</div>
		</div>
	</header>
</body>
</html>