<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" />
</head>
<body>
	<header th:fragment = "header">
		<div class="headerAdattivo">
			<button th:onclick = "location.href = '/'" class = "bottoneHeader">
				<h1 class = "scrittaBottoneHeader" th:text = "'Benvenuto ' + ${username} + '!'"></h1>
			</button>
			<button th:if = "${isLogged}" class = "iconaNotifiche">
				<h1 class = "scritteBottoniMenu" th:text = ${numberOfNotifications}></h1>
			</button>
			<!--<div>
				<ul id="notificatins">
				  <li><a href="#">Voce 1</a></li>
				  <li><a href="#">Voce 2</a></li>
				  <li><a href="#">Voce 3</a>
				    <ul>
				      <li><a href="#">Sottomenu 1</a></li>
				      <li><a href="#">Sottomenu 2</a></li>
				    </ul>
				  </li>
				</ul>
			</div>-->
		</div>
	</header>
</body>
</html>