<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="width: 100%; height: 90px; background-color: #999;" th:fragment="menu">
		<a href="/startDbUsers" style="height: 70%; align-items:center;">
			<button>
				<h1>Popola il DB Utenti</h1>
			</button>
		</a>
		<a href="/startDbPOIs" style="height: 70%; align-items:center;">
			<button>
				<h1>Popola il DB POI</h1>
			</button>
		</a>
		<a href="users" style="height: 70%; align-items:center;">
			<button>
				<h1>Lista Utenti</h1>
			</button>
		</a>
		<a href="pois" style="height: 70%; align-items:center;">
			<button>
				<h1>Lista POI</h1>
			</button>
		</a>
		<a href="login" style="height: 70%; align-items:center;">
			<button>
				<h1>Login</h1>
			</button>
		</a>
	</div>
</body>
</html>