<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" />
</head>
<body>
	<div class="menuAdattivo" th:fragment="menu">
		<button th:unless = "${isLoadedUsers}" th:onclick = "location.href = '/startDbUsers'" class = "bottoniMenu">
			<h1 class = "scritteBottoniMenu">Popola il DB Utenti</h1>
		</button>
		<button th:if = "${isPOIButtonVisible}" th:onclick = "location.href = '/startDbPOIs'" class = "bottoniMenu">
			<h1 class = "scritteBottoniMenu">Popola il DB POI</h1>
		</button>
		<button th:onclick = "location.href = '/all/users'" class = "bottoniMenu">
			<h1 class = "scritteBottoniMenu">Lista Utenti</h1>
		</button>
		<button th:onclick = "location.href = '/all/elements'" class = "bottoniMenu">
			<h1 class = "scritteBottoniMenu">Lista Elementi</h1>
		</button>
		<button th:unless = "${isLogged}" th:onclick = "location.href = '/login'" class = "bottoniMenu">
			<h1 class = "scritteBottoniMenu">Login</h1>
		</button>
		<button th:unless = "${isLogged}" th:onclick = "location.href = '/registration'" class = "bottoniMenu">
			<h1 class = "scritteBottoniMenu">Registrati</h1>
		</button>
		<button th:onclick = "location.href = '/logout'" class = "bottoniMenu">
			<h1 class = "scritteBottoniMenu">Logout</h1>
		</button>
		<button th:if = "${isLogged}" class = "iconaNotifiche">
			<h1 class = "scritteBottoniMenu" th:text = ${numberOfNotifications}></h1>
		</button>
		<!--<div>
			<ul id="notificatins">
			  <li><a href="#">Voce 1</a></li>
			  <li><a href="#">Voce 2</a></li>
			  <li><a href="#">Voce 3</a>
			    <ul>
			      <li><a href="#">Sottomenu 1</a></li>
			      <li><a href="#">Sottomenu 2</a></li>
			    </ul>
			  </li>
			</ul>
		</div>-->
	</div>
</body>
</html>