<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" />
</head>
<body>
	<div th:fragment = "searchSite" class = "containerSearch">
		<form class = "barSearch" action="/search/site" method="get">
			<h1 class = "scritteCard">Cerca nel sito...</h1>
			<br/>
			<input class = "inputSearch" type="text" name="tag" placeholder="Stadio comunale, Milano,...">
			<br/>
			<button type="submit" class = "bottoniSearch">
				<p class = "scritteBottoniSearch">CERCA</p>
			</button>
		</form>
	</div>
	
	<div th:fragment = "searchOsmQuery" class = "containerSearch">
		<form class = "barSearch" action="/search/osm/query" method="get">
			<h1 class = "scritteCard">Cerca su OSM...</h1>
			<br/>
			<input class = "inputSearch" type="text" name="query" placeholder="Pizzeria, Ristorante...">
			<br/>
			<button type="submit" class = "bottoniSearch">
				<p class = "scritteBottoniSearch">CERCA</p>
			</button>
		</form>
	</div>
	
	<div th:fragment = "searchOsmDetail" class = "containerSearch">
		<form class = "cardSearch" action="/search/osm/detail" method="get">
			<h1 class = "scritteCard">Cerca in dettaglio su OSM...</h1>
			<br/>
			<input class = "inputSearch" type="text" name="amenity" placeholder="Pizzeria, Ristorante...">
			<br/>
			<input class = "inputSearch" type="text" name="street" placeholder="Via, Viale, Corso...">
			<br/>
			<input class = "inputSearch" type="text" name="houseNumber" placeholder="Numero Civico">
			<br/>
			<input th:unless = "${isLogged}" class = "inputSearch" type="text" name="postalCode" placeholder="C.A.P.">
			<br/>
			<button type="submit" class = "bottoniSearch">
				<p class = "scritteBottoniSearch">CERCA</p>
			</button>
		</form>
	</div>
	
	<div th:fragment = "searchUser" class = "containerSearch">
		<form class = "barSearch" action = "/users/find" method="get">
			<h1 class = "scritteCard">Cerca Utente:</h1>
			<br/>
			<input class = "inputSearch" type="text" name="username" placeholder="Cerca un utente">
			<br/>
			<button type="submit" class = "bottoniSearch">
				<p class = "scritteBottoniSearch">CERCA</p>
			</button>
		</form>
	</div>
		
</body>
</html>