<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Turismo2024</title> 
    <meta http-equiv="Content-Type" content="text/html" />
	<link th:href="@{/css/header.css}" rel="stylesheet" />
	<link th:href="@{/css/menu.css}" rel="stylesheet" />
	<link th:href="@{/css/list.css}" rel="stylesheet" />
	<link th:href="@{/css/body.css}" rel="stylesheet" />
	<link th:href="@{/css/search.css}" rel="stylesheet" />
	<link th:href="@{/css/error.css}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="${pageContext.request.contextPath}/static/favicon.ico">
</head>
<body>	
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/menu :: menu}"></div>
	<div th:replace="~{fragments/search :: searchOsmQuery}"></div>
	<div th:if = "${isSite}">
		<div th:replace="~{fragments/body-managers :: elementCreation}"></div>
	</div>
	<div th:if = "${isOSM}">
		<div th:replace="~{fragments/body-managers :: osmCreation}"></div>
	</div>
	
</body>
</html>