<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Turismo2024</title> 
    <meta http-equiv="Content-Type" content="text/html" />
	<link th:href="@{/css/header.css}" rel="stylesheet" />
	<link th:href="@{/css/menu.css}" rel="stylesheet" />
	<link th:href="@{/css/list.css}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="${pageContext.request.contextPath}/static/favicon.ico">
</head>
<body>	
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/menu :: menu}"></div>
	<div class = "menuAdattivoCreazione">
   		<button th:onclick = "location.href = '/pois/creation'" class = "bottoniCreazione">
	    	<p class = "scritteBottoniForm">Punto di Interesse</p>
	    </button>
	    <button th:onclick = "location.href = '/tours/creation'" class = "bottoniCreazione">
	    	<p class = "scritteBottoniForm">Itinerario</p>
	    </button>
	    <button  th:if = "${isAnimator||isAdmin}" th:onclick = "location.href = '/contests/creation'" class = "bottoniCreazione">
	    	<p class = "scritteBottoniForm">Contest</p>
	    </button>
   	</div>
    <div class = "container">
    	<form th:id = "creationForm" class = "card" th:object="${element}" th:action="@{${urlCreationElement}}" method="post">
			<h1 class = "scritteCard">Titolo</h1>
		    <input class = "input" type="text" name = "name" placeholder="Inserisci il titolo" required/>
		    <br />
		    <h1 class = "scritteCard">Descrizione</h1>
		    <textarea class = "inputDescrizione" rows="10" cols="50" maxlength="200" style="width: 200px; height: 100px;" name = "description" placeholder="Descrivimi!"/></textarea>
		    <br />
		    <h1 class = "scritteCard">Città</h1>
		    <input class = "input" type="text" name = "city" placeholder="Inserisci la città" required/>
		    <br />
		    <h1 class = "scritteCard">C.A.P.</h1>
		    <input class = "input" type="text" name = "postalcode" placeholder="Inserisci il C.A.P." required/>
		    <br />
		    <div th:if = "${isPoi}" class = "containerElement" th:object = "${address}">
		    	<h1 class = "scritteCard">Address</h1>
		    	<div class = "containerInputRow">
				    <input class = "input" type="text" th:field = "*{address.road}" name = "road" placeholder="Inserisci la via" required/>
				    <br />
				    <input class = "input" type="number" th:field = "*{address.road}" name = "house_number" placeholder="Inserisci il civico" required/>
				    <br />
		    	</div>
		    </div>
		    <div th:if = "${isContest}" class = "containerElement">
		    	<div class = "containerInputRow">
				    <div class = "containerElement">
				   		<h1  class = "scritteCard">Inizia il:</h1>
					    <input class = "input" type="date" name = "starts" placeholder="Inserisci la data di inizio" required/>
					    <br />
				    </div>
				    <div class = "containerElement">	    	
					    <h1 class = "scritteCard">Termina il:</h1>
					    <input class = "input" type="date" name = "ends" placeholder="Inserisci la data di termine" required/>
					    <br />
				    </div>
			    </div>
			    <h1 class = "scritteCard">Tema</h1>
			   	<input class = "input" type="text" name = "theme" placeholder="Inserisci il Tema" required/>
		    	<br />
		    	<h1 class = "scritteCard">Solo su invito</h1>
		    	<label><input type="checkbox" th:field="*{element.isClosed}" name="isClosed" required/></label>
		    	<br />
		    </div>		    
		    
		    <button type="submit" class = "bottoniForm">
		    	<p class = "scritteBottoniForm">Creami!</p>
		    </button>
		</form>
	</div>		
</body>
</html>