<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Turismo2024</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/styles/header.css}" rel="stylesheet" />
	<link th:href="@{/styles/menu.css}" rel="stylesheet" />
    <link th:href="@{/styles/list.css}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="${pageContext.request.contextPath}/static/favicon.ico">
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/menu :: menu}"></div>
    <div class = "container">
    	<button class = "card" th:each = "element : ${listElements}">
    		<h1 class = "scritteCard" th:text = "${'Titolo: '} + ${element.name}">Titolo</h1>
    		<h1 class = "scritteCard" th:text = "${'Descrizione: '} + ${element.description}">Descrizione</h1>
    		<h1 class = "scritteCard" th:text = "${'Autore: '} + ${element.author.userName}">Autore</h1>
    		<h1 class = "scritteCard" th:text = "${'CAP: '} + ${element.CAP}">CAP</h1>
    		<h1 class = "scritteCard" th:text = "${'Indirizzo: '} + ${element.address}">Indirizzo</h1>
    	</button>
	</div>		
</body>
</html>