<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Turismo2024</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/styles/header.css}" rel="stylesheet" />
	<link th:href="@{/styles/menu.css}" rel="stylesheet" />
    <link th:href="@{/styles/list.css}" rel="stylesheet" />
	<link th:href="@{/styles/error.css}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="${pageContext.request.contextPath}/static/favicon.ico">
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/menu :: menu}"></div>
	<div th:replace="~{fragments/body :: search}"></div>
	<div th:if = ${listElements.isEmpty()} class = "errorDiv">
		<h1 class = "scrittaError">Nessun risultato trovato!</h1>
	</div>
    <div class = "containerElement">
    	<button class = "card" th:each = "element : ${listElements}">
    		<h1 class = "scritteCard" th:text = "${'Titolo: '} + ${element.getName()}">Titolo</h1>
    		<h1 class = "scritteCard" th:text = "${'Descrizione: '} + ${element.getDescription()}">Descrizione</h1>
    		<h1 class = "scritteCard" th:text = "${'Autore: '} + ${element.getAuthor().getUserName()}">Autore</h1>
    		<h1 class = "scritteCard" th:text = "${'Indirizzo: '} + ${element.getAddress.toString()}">Indirizzo</h1>
    		<h1 class = "scritteCard" th:text = "${'Città: '} + ${element.getCity()} + ${' ('} + ${element.getPostcode()} + ${')'}">Città</h1>
    	</button>
	</div>		
</body>
</html>