<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Turismo2024</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/header.css}" rel="stylesheet" />
	<link th:href="@{/css/menu.css}" rel="stylesheet" />
	<link th:href="@{/css/error.css}" rel="stylesheet" />
	<link rel="shortcut icon" type="image/x-icon" href="${pageContext.request.contextPath}/static/favicon.ico">
</head>
<body>
<!-- 	<header th:fragment = "header">
		<div class="headerAdattivo">
			<div th:onclick = "location.href = '/'" class = "bottoneHeader" >
				<h1 class = "scrittaBottoneHeader" th:text = "Torna indietro!'"></h1>
			</div>
		</div>
	</header>
    <div class = "errorDiv" >
		<h1 class = "scrittaError" th:text="${message}">Ops, qualcosa è andato storto</h1>
	</div> -->		
</body>
</html>