<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Turismo2024</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/header.css}" rel="stylesheet" />
	<link th:href="@{/css/menu.css}" rel="stylesheet" />
	<link th:href="@{/css/list.css}" rel="stylesheet" />
	<link th:href="@{/css/body.css}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="${pageContext.request.contextPath}/static/favicon.ico">
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/menu :: menu}"></div>
    <div class = "container">
		<form class = "cardLogin" th:action="@{/login}" method="post">
			<h1 class = "scritteCard">LOGIN</h1>
			<br/>
			<input class = "input" type="text" name="username" placeholder="USERNAME" required>
			<br/>
			<input class = "input" type="password" name="password" placeholder="PASSWORD" required>
			<br/>
			<button type="submit" class = "bottoniForm">
				<p class = "scritteBottoniForm">Invia</p>
			</button>
			 <div th:if="${param.login}">
            	<p style="color:red;">Credenziali errate, riprova.</p>
        	</div>
        	<div th:if="${param.logout}">
            	<p style="color:green;">Logout avvenuto con successo.</p>
        	</div>
		</form>
	</div>	
</body>
</html>