<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Turismo2024</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/menu.css}" rel="stylesheet" />
    <link th:href="@{/styles/list.css}" rel="stylesheet" />
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/menu :: menu}"></div>
    <div class = "container">
    	<button class = "card" th:each = "poi : ${listPoi}">
    		<h1 class = "scritteCard" th:text = "${'Titolo: '} + ${poi.name}">Titolo</h1>
    		<h1 class = "scritteCard" th:text = "${'Descrizione: '} + ${poi.description}">Descrizione</h1>
    		<h1 class = "scritteCard" th:text = "${'Autore: '} + ${poi.author.userName}">Autore</h1>
    		<h1 class = "scritteCard" th:text = "${'CAP: '} + ${poi.CAP}">CAP</h1>
    		<h1 class = "scritteCard" th:text = "${'Indirizzo: '} + ${poi.address}">Indirizzo</h1>
    	</button>
	</div>		
</body>
</html>