<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Turismo2024</title> 
    <meta http-equiv="Content-Type" content="text/html" />
	<link th:href="@{/styles/menu.css}" rel="stylesheet" />
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/menu :: menu}"></div>
    <div>
		<form action="/registration" method="post">
			<label>Inserisci il tuo Nome</label>
		    <input type="text" name = "name"/>
		    <br />
		    <label>Inserisci il tuo Cognome</label>
		    <input type="text" name = "surname"/>
		    <br />
		    <label>Inserisci il tuo Username</label>
		    <input type="text" name = "userName"/>
		    <br />
		    <label>Inserisci la tua email</label>
		    <input type="text" name = "email"/>
		    <br />
		    <label>Inserisci il tuo numero di telefono</label>
		    <input type="text" name = "phoneNumber"/>
		    <br />
		    <label>Inserisci il tuo Indirizzo</label>
		    <input type="text" name = "address"/>
		    <br />
		    <label>Inserisci il tuo CAP</label>
		    <input type="text" name = "CAP"/>
		    <br />
		    <button type="submit" >Invia</button>
		</form>
	</div>		
</body>
</html>