<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Turismo2024</title> 
    <meta http-equiv="Content-Type" content="text/html" />
	<link th:href="@{/css/header.css}" rel="stylesheet" />
	<link th:href="@{/css/menu.css}" rel="stylesheet" />
	<link th:href="@{/css/list.css}" rel="stylesheet" />
	<link th:href="@{/css/body.css}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="${pageContext.request.contextPath}/static/favicon.ico">
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/menu :: menu}"></div>
    <div class = "containerForm">
    	<form class = "cardAccess" th:action="@{/access/registration}" method="post">
			<h1 class = "scritteCard">Inserisci il tuo Nome</h1>
		    <input class = "input" type="text" name = "name" required/>
		    <br />
		    <h1 class = "scritteCard">Inserisci il tuo Cognome</h1>
		    <input class = "input" type="text" name = "surname" required/>
		    <br />
		    <h1 class = "scritteCard">Inserisci il tuo Username</h1>
		    <input class = "input" type="text" name = "username" required/>
		    <br />
		    <h1 class = "scritteCard">Inserisci la tua password</h1>
		    <input class = "input" type="password" name = "password" required/>
		    <br />
		    <h1 class = "scritteCard">Inserisci la tua email</h1>
		    <input class = "input" type="text" name = "email" required/>
		    <br />
		    <h1 class = "scritteCard">Inserisci il tuo numero di telefono</h1>
		    <input class = "input" type="text" name = "phoneNumber" required/>
		    <br />
		    <h1 class = "scritteCard">Inserisci il tuo Indirizzo</h1>
		    <input class = "input" type="text" name = "address" required/>
		    <br />
		    <h1 class = "scritteCard">Inserisci la tua città</h1>
		    <input class = "input" type="text" name = "city" required/>
		    <br />
		    <h1 class = "scritteCard">Inserisci il tuo CAP</h1>
		    <input class = "input" type="text" name = "CAP" required/>
		    <br />
		    <button type="submit" class = "bottoniForm">
		    	<p class = "scritteBottoniForm">Invia</p>
		    </button>
		</form>
	</div>		
</body>
</html>