<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Turismo2024</title> 
    <meta http-equiv="Content-Type" content="text/html" />
	<link th:href="@{/styles/header.css}" rel="stylesheet" />
	<link th:href="@{/styles/menu.css}" rel="stylesheet" />
    <link th:href="@{/styles/list.css}" rel="stylesheet" />
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/menu :: menu}"></div>
    <div class = "container">
    	<form class = "card" action="/registration" method="post">
			<h1 class = "scritteCard">Inserisci il tuo Nome</h1>
		    <input class = "input" type="text" name = "name"/>
		    <br />
		    <h1 class = "scritteCard">Inserisci il tuo Cognome</h1>
		    <input class = "input" type="text" name = "surname"/>
		    <br />
		    <h1 class = "scritteCard">Inserisci il tuo Username</h1>
		    <input class = "input" type="text" name = "userName"/>
		    <br />
		    <h1 class = "scritteCard">Inserisci la tua email</h1>
		    <input class = "input" type="text" name = "email"/>
		    <br />
		    <h1 class = "scritteCard">Inserisci il tuo numero di telefono</h1>
		    <input class = "input" type="text" name = "phoneNumber"/>
		    <br />
		    <h1 class = "scritteCard">Inserisci il tuo Indirizzo</h1>
		    <input class = "input" type="text" name = "address"/>
		    <br />
		    <h1 class = "scritteCard">Inserisci il tuo CAP</h1>
		    <input class = "input" type="text" name = "CAP"/>
		    <br />
		    <button type="submit" class = "bottoniForm">
		    	<p class = "scritteBottoniForm">Invia</p>
		    </button>
		</form>
	</div>		
</body>
</html>