<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Turismo2024</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/header.css}" rel="stylesheet" />
	<link th:href="@{/css/menu.css}" rel="stylesheet" />
	<link th:href="@{/css/list.css}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="${pageContext.request.contextPath}/static/favicon.ico">
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/menu :: menu}"></div>
    <div class = "containerList">
    	<button class = "cardList" th:each = "user : ${listUsers}">
    		<h1 class = "scritteCard" th:text = "${'Nome: '} + ${user.name}">Titolo</h1>
    		<h1 class = "scritteCard" th:text = "${'Cognome: '} + ${user.surname}">Descrizione</h1>
    		<h1 class = "scritteCard" th:text = "${'Username: '} + ${user.username}">Autore</h1>
    		<h1 class = "scritteCard" th:text = "${'email: '} + ${user.email}">CAP</h1>
    		<h1 class = "scritteCard" th:text = "${'Ruolo: '} + ${user.role}">Indirizzo</h1>
    	</button>
	</div>		
</body>
</html>