/* Stile per il div che contiene le cards */
.container {
	max-width: calc (100% - 40px);
	display: left;
	justify-content: left;
	flex-wrap: wrap;
	padding: 10px;
}
/* Stile per i div delle cards */
.card {
	max-width: 40%;
	min-width:25%;
	height: auto;
	margin: 5px;
	border: 2px solid gray;
	border-radius: 20px;
	cursor: pointer;
}
/* Stile per le scritte nei bottoni */
.scritteCard {
	font-size: 20px;
	line-height: 10px;
  	color: #000000;
}